.appBar {
    display: flex; /* Display child elements horizontally */
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1vh 0vw;

    background-color: #3d3030;
    z-index: 1;
    width: 100vw;
} 
  
/* @media (max-width: 1250px) {
    .appBar {
        min-width: 800px;
    }
} */

.appBar > .appBar-name {
    font-size: 1.1rem;
    font-weight: bolder;
    padding-left: 2%;
}

.portfolio-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2%;
}
  
.portfolio-links > p.clicked {
    color: white; /* Inherit the parent text color */
}

.portfolio-links > p {

    padding: 0 1.8vw 0 0;
    font-size: 0.9rem;
    font-weight: bolder;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
        color: #cc1d10;
    }
}
/* The p.clicked must be declared before the .portfolio-links > p, if not after clicking any of the p elements, hovering over them wont make them red, due to css declaration order */

